.card {
  background-color: #fff;
  box-shadow: 0 0.1rem 1.6rem #0000001a;
  display: flex;
  padding: 2rem;

  border-radius: 0.8rem;
  &-header {
    align-items: center;
    padding: 0;
    padding-bottom: 2rem;

    .text {
      color: #494949;
      font-weight: 600;
      font-size: 2rem;
    }
  }
  &-expand {
    width: 100%;
  }
}
