// Text

.txtRight {
  text-align: right !important;
}
.txtCenter {
  text-align: center !important;
}
.txtLeft {
  text-align: left !important;
}

// Flex
.flex-d-col {
  flex-direction: column !important;
}

.flex-pos- {
  &between {
    justify-content: space-between !important;
  }
}
.flex-vpos-to-top {
  align-items: flex-start !important;
}
.flex-vpos-to-middle {
  align-items: center !important;
}
.flex-vpos-to-bottom {
  align-items: flex-end !important;
}

// Self
.flex-self-pos-to-right {
  justify-self: flex-end !important;
}
.flex-self-pos-to-left {
  justify-self: flex-start !important;
}

// Padding
.p- {
  &none {
    padding: 0rem !important;
  }
  &0 {
    padding: 0.5rem !important;
  }
  &1 {
    padding: 0.8rem !important;
  }
  &2 {
    padding: 1rem !important;
  }
  &3 {
    padding: 1.5rem !important;
  }
  &4 {
    padding: 2rem !important;
  }
  &5 {
    padding: 2.5rem !important;
  }
  &6 {
    padding: 3rem !important;
  }
  &7 {
    padding: 3.5rem !important;
  }
  &8 {
    padding: 4rem !important;
  }
  &9 {
    padding: 5rem !important;
  }
  &hor {
    & {
      padding-left: 0.5rem !important;
      padding-right: 0.5rem !important;
    }
    &-0 {
      padding-left: 0rem !important;
      padding-right: 0rem !important;
    }
    &-1 {
      padding-left: 0.8rem !important;
      padding-right: 0.8rem !important;
    }
    &-2 {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
    &-3 {
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important;
    }
    &-4 {
      padding-left: 2rem !important;
      padding-right: 2rem !important;
    }
    &-5 {
      padding-left: 2.5rem !important;
      padding-right: 2.5rem !important;
    }
    &-6 {
      padding-left: 3rem !important;
      padding-right: 3rem !important;
    }
    &-7 {
      padding-left: 3.5rem !important;
      padding-right: 3.5rem !important;
    }
    &-8 {
      padding-left: 4rem !important;
      padding-right: 4rem !important;
    }
    &-9 {
      padding-left: 5rem !important;
      padding-right: 5rem !important;
    }
  }
  &vrt {
    & {
      padding-top: 0.5rem !important;
      padding-bottom: 0.5rem !important;
    }
    &-0 {
      padding-top: 0.5rem !important;
      padding-bottom: 0.5rem !important;
    }
    &-1 {
      padding-top: 0.8rem !important;
      padding-bottom: 0.8rem !important;
    }
    &-2 {
      padding-top: 1rem !important;
      padding-bottom: 1rem !important;
    }
    &-3 {
      padding-top: 1.5rem !important;
      padding-bottom: 1.5rem !important;
    }
    &-4 {
      padding-top: 2rem !important;
      padding-bottom: 2rem !important;
    }
    &-5 {
      padding-top: 2.5rem !important;
      padding-bottom: 2.5rem !important;
    }
    &-6 {
      padding-top: 3rem !important;
      padding-bottom: 3rem !important;
    }
    &-7 {
      padding-top: 3.5rem !important;
      padding-bottom: 3.5rem !important;
    }
    &-8 {
      padding-top: 4rem !important;
      padding-bottom: 4rem !important;
    }
    &-9 {
      padding-top: 5rem !important;
      padding-bottom: 5rem !important;
    }
  }
  &top {
    & {
      padding-top: 0.5rem !important;
    }
    &-0 {
      padding-top: 0.5rem !important;
    }
    &-1 {
      padding-top: 0.8rem !important;
    }
    &-2 {
      padding-top: 1rem !important;
    }
    &-3 {
      padding-top: 1.5rem !important;
    }
    &-4 {
      padding-top: 2rem !important;
    }
    &-5 {
      padding-top: 2.5rem !important;
    }
    &-6 {
      padding-top: 3rem !important;
    }
    &-7 {
      padding-top: 3.5rem !important;
    }
    &-8 {
      padding-top: 4rem !important;
    }
    &-9 {
      padding-top: 5rem !important;
    }
  }
  &bottom {
    & {
      padding-bottom: 0.5rem !important;
    }
    &-0 {
      padding-bottom: 0.5rem !important;
    }
    &-1 {
      padding-bottom: 0.8rem !important;
    }
    &-2 {
      padding-bottom: 1rem !important;
    }
    &-3 {
      padding-bottom: 1.5rem !important;
    }
    &-4 {
      padding-bottom: 2rem !important;
    }
    &-5 {
      padding-bottom: 2.5rem !important;
    }
    &-6 {
      padding-bottom: 3rem !important;
    }
    &-7 {
      padding-bottom: 3.5rem !important;
    }
    &-8 {
      padding-bottom: 4rem !important;
    }
    &-9 {
      padding-bottom: 5rem !important;
    }
  }
  &left {
    & {
      padding-left: 0.5rem !important;
    }
    &-0 {
      padding-left: 0.5rem !important;
    }
    &-1 {
      padding-left: 0.8rem !important;
    }
    &-2 {
      padding-left: 1rem !important;
    }
    &-3 {
      padding-left: 1.5rem !important;
    }
    &-4 {
      padding-left: 2rem !important;
    }
    &-5 {
      padding-left: 2.5rem !important;
    }
    &-6 {
      padding-left: 3rem !important;
    }
    &-7 {
      padding-left: 3.5rem !important;
    }
    &-8 {
      padding-left: 4rem !important;
    }
    &-9 {
      padding-left: 5rem !important;
    }
  }
  &right {
    & {
      padding-right: 0.5rem !important;
    }
    &-0 {
      padding-right: 0.5rem !important;
    }
    &-1 {
      padding-right: 0.8rem !important;
    }
    &-2 {
      padding-right: 1rem !important;
    }
    &-3 {
      padding-right: 1.5rem !important;
    }
    &-4 {
      padding-right: 2rem !important;
    }
    &-5 {
      padding-right: 2.5rem !important;
    }
    &-6 {
      padding-right: 3rem !important;
    }
    &-7 {
      padding-right: 3.5rem !important;
    }
    &-8 {
      padding-right: 4rem !important;
    }
    &-9 {
      padding-right: 5rem !important;
    }
  }
}

// Margin
.m- {
  &hor {
    & {
      margin-left: 0.5rem !important;
      margin-right: 0.5rem !important;
    }
    &-0 {
      margin-left: 0.5rem !important;
      margin-right: 0.5rem !important;
    }
    &-1 {
      margin-left: 0.8rem !important;
      margin-right: 0.8rem !important;
    }
    &-2 {
      margin-left: 1rem !important;
      margin-right: 1rem !important;
    }
    &-3 {
      margin-left: 1.5rem !important;
      margin-right: 1.5rem !important;
    }
    &-4 {
      margin-left: 2rem !important;
      margin-right: 2rem !important;
    }
    &-5 {
      margin-left: 2.5rem !important;
      margin-right: 2.5rem !important;
    }
    &-6 {
      margin-left: 3rem !important;
      margin-right: 3rem !important;
    }
    &-7 {
      margin-left: 3.5rem !important;
      margin-right: 3.5rem !important;
    }
    &-8 {
      margin-left: 4rem !important;
      margin-right: 4rem !important;
    }
    &-9 {
      margin-left: 5rem !important;
      margin-right: 5rem !important;
    }
  }
  &vrt {
    & {
      margin-top: 0.5rem !important;
      margin-bottom: 0.5rem !important;
    }
    &-0 {
      margin-top: 0.5rem !important;
      margin-bottom: 0.5rem !important;
    }
    &-1 {
      margin-top: 0.8rem !important;
      margin-bottom: 0.8rem !important;
    }
    &-2 {
      margin-top: 1rem !important;
      margin-bottom: 1rem !important;
    }
    &-3 {
      margin-top: 1.5rem !important;
      margin-bottom: 1.5rem !important;
    }
    &-4 {
      margin-top: 2rem !important;
      margin-bottom: 2rem !important;
    }
    &-5 {
      margin-top: 2.5rem !important;
      margin-bottom: 2.5rem !important;
    }
    &-6 {
      margin-top: 3rem !important;
      margin-bottom: 3rem !important;
    }
    &-7 {
      margin-top: 3.5rem !important;
      margin-bottom: 3.5rem !important;
    }
    &-8 {
      margin-top: 4rem !important;
      margin-bottom: 4rem !important;
    }
    &-9 {
      margin-top: 5rem !important;
      margin-bottom: 5rem !important;
    }
  }
  &top {
    & {
      margin-top: 0.5rem !important;
    }
    &-0 {
      margin-top: 0.5rem !important;
    }
    &-1 {
      margin-top: 0.8rem !important;
    }
    &-2 {
      margin-top: 1rem !important;
    }
    &-3 {
      margin-top: 1.5rem !important;
    }
    &-4 {
      margin-top: 2rem !important;
    }
    &-5 {
      margin-top: 2.5rem !important;
    }
    &-6 {
      margin-top: 3rem !important;
    }
    &-7 {
      margin-top: 3.5rem !important;
    }
    &-8 {
      margin-top: 4rem !important;
    }
    &-9 {
      margin-top: 5rem !important;
    }
  }
  &bottom {
    & {
      margin-bottom: 0.5rem !important;
    }
    &-0 {
      margin-bottom: 0.5rem !important;
    }
    &-1 {
      margin-bottom: 0.8rem !important;
    }
    &-2 {
      margin-bottom: 1rem !important;
    }
    &-3 {
      margin-bottom: 1.5rem !important;
    }
    &-4 {
      margin-bottom: 2rem !important;
    }
    &-5 {
      margin-bottom: 2.5rem !important;
    }
    &-6 {
      margin-bottom: 3rem !important;
    }
    &-7 {
      margin-bottom: 3.5rem !important;
    }
    &-8 {
      margin-bottom: 4rem !important;
    }
    &-9 {
      margin-bottom: 5rem !important;
    }
  }
  &left {
    & {
      margin-left: 0.5rem !important;
    }
    &-0 {
      margin-left: 0.5rem !important;
    }
    &-1 {
      margin-left: 0.8rem !important;
    }
    &-2 {
      margin-left: 1rem !important;
    }
    &-3 {
      margin-left: 1.5rem !important;
    }
    &-4 {
      margin-left: 2rem !important;
    }
    &-5 {
      margin-left: 2.5rem !important;
    }
    &-6 {
      margin-left: 3rem !important;
    }
    &-7 {
      margin-left: 3.5rem !important;
    }
    &-8 {
      margin-left: 4rem !important;
    }
    &-9 {
      margin-left: 5rem !important;
    }
  }
  &right {
    & {
      margin-right: 0.5rem !important;
    }
    &-0 {
      margin-right: 0.5rem !important;
    }
    &-1 {
      margin-right: 0.8rem !important;
    }
    &-2 {
      margin-right: 1rem !important;
    }
    &-3 {
      margin-right: 1.5rem !important;
    }
    &-4 {
      margin-right: 2rem !important;
    }
    &-5 {
      margin-right: 2.5rem !important;
    }
    &-6 {
      margin-right: 3rem !important;
    }
    &-7 {
      margin-right: 3.5rem !important;
    }
    &-8 {
      margin-right: 4rem !important;
    }
    &-9 {
      margin-right: 5rem !important;
    }
  }
}
