table.table-card {
  border-width: 0;
  border-collapse: collapse;

  thead {
    th {
      background-color: #dddddd;
      position: sticky;
      top: -2.65rem;
      padding: 0.6rem;
      text-align: left;

      &:first-child {
        padding-left: 1.2rem;
      }
      &:last-child {
        padding-right: 1.2rem;
      }
    }
  }
  tbody {
    tr {
      &:hover {
        background-color: rgba(0, 0, 0, 0.062);
      }
      &:active {
        background-color: rgba(0, 0, 0, 0.062);
        border: 1 solid #6ae959;
      }
    }
    td {
      padding: 0.8rem 0.5rem;
      text-align: left;
      border: 0 solid #dddddd;
      border-width: 0 0.1rem;

      &:first-child {
        border-left-width: 0;
        padding-left: 1.2rem;
      }
      &:last-child {
        border-right-width: 0;
        padding-right: 1.2rem;
      }
    }
  }
}
