main {
  background-color: #e4e4e4;
  display: flex;
  justify-content: space-between;

  // height: calc(100vh - 4.6rem);
  width: 100vw;
  height: 100vh;
  padding: 0;
  padding-top: 4.6rem;
  overflow-y: hidden;
}
.scrollable {
  width: 100%;
  overflow-y: auto;
  // overflow-x: hidden;
}

.container {
  display: flex;
  padding: 0.5rem;

  &.noPad {
    padding: 0;
  }
}
.web-app {
  * {
    outline: none;
    user-select: none;
  }
}
