.draggable {
  &.container {
    width: 60rem;
    margin: 1rem auto;
    background-color: #f1f1f1;
    padding: 2rem;
    border-radius: 0.6rem;
    .section-title {
      font-weight: bold;
      padding-right: 1rem;

      &-big {
        font-size: 2.2rem;
      }
    }
    .drag-container {
      padding: 0.8rem 1rem;
    }
    .drag-item {
      padding: 0.8rem 1rem;
    }
  }
}
