main {
  background-color: #e8e8e8;
  display: flex;
  justify-content: space-between;

  // height: calc(100vh - 4.6rem);
  width: 100vw;
  height: 100vh;
  padding: 0;
  padding-top: 7rem;
  overflow-y: hidden;
}
.scrollable {
  width: 100%;
  overflow-y: auto;
  // overflow-x: hidden;
}

.container {
  display: flex;
  padding: 0.5rem;

  &.noPad {
    padding: 0;
  }
}
.web-app {
  * {
    outline: none;
    user-select: none;
  }
}
a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.material-icons {
  line-height: 2.2rem;
  font-size: inherit;
}

.text {
  color: #202020;

  &.sub-title {
    color: #919191;
    font-size: 90%;
  }
  &.card {
    font-weight: 600;
    font-size: 2rem;
  }
}
p {
  padding: 0;
  margin: 0;
}
.CalendarMonth_caption {
  font-family: inherit;
  font-size: inherit;
}
