.sidebar {
  background-color: #ffffff;
  height: 100%;
  width: 23rem;

  &-collapsed {
    max-width: 5rem;
  }
  box-shadow: 0 0 0.4rem #00000020;

  ul.navbar {
    padding: 0;
    padding-top: 1rem;

    .active {
      li {
        font-weight: 500;
        color: #2e2aaf;

        &::before {
          content: '';
          background-color: #2e2aaf;

          padding: 0 0.23rem;
          position: absolute;
          left: 0;
          height: 2.8rem;
          margin-top: -0.65rem;
          border-radius: 0 2rem 2rem 0;
          z-index: 10000;
        }
        &:hover {
          &::before {
          }
        }
      }
    }

    li {
      color: #585858;
      list-style: none;
      padding: 1rem 0;
      padding-left: 2rem;

      &:hover {
        background-color: rgba(0, 0, 0, 0.096);
      }
    }
  }
}
