.sidebar {
  width: auto;
  background-color: #fff;

  &__nav {
    font-size: 1.6rem;
    list-style: none;

    li {
      text-decoration: none;
      border-radius: 50%;

      a {
        color: #000000;
        padding: 1.5rem 2rem;

        &:hover {
          background-color: #ececec;
        }
      }
      .active {
        color: #ffffff;
        background-color: #5a5a5a;

        &:hover {
          background-color: #5a5a5a;
        }
      }
    }
  }
}
